<!DOCTYPE html>
<html>
    <head>
        <title>Yaroslav Gogulov</title>
        <link rel="stylesheet" href="../../static/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body>
    <!-- Боковая панель -->
    <div class="sidebar">
        <div class="sidebar-image">
            <img src= "../../static/images/good.jpg">
        </div>
		

        <div class="sidebar-main-text">
            <h2>Yaroslav Gogulov</h2>
        </div>
        <div class="sidebar-main-text2">
          <h6>
            To get the working experience in google company; implement my projects.
          </h6>
        </div>
        <div class="sidebar-main-interest">
            <div class="sidebar-main-interest-text">
                <h3>Interests</h3>
            </div>
            <a href="#"><i class="fa fa-fw fa-heart"></i> Gaming</a>
            <a href="#"><i class="fa fa-fw fa-heart"></i> Photo</a>
            <a href="#"><i class="fa fa-fw fa-heart"></i> Music</a>
            <a href="#"><i class="fa fa-fw fa-heart"></i> Reading</a>

            <!--<div class="sidebar-main-interest-button">
              <button class="btn"><a href="index.html">EU</a></button>
              <button class="btn"><a href="indexUA.html">UA</a></button>
          </div>-->
        </div>
    </div>

      <!-- Содержимое страницы -->
      <div class="content">
            <div class="content-main-text">
                <div>
                    <h2>Experience</h2>
                </div>
                <div class="content-main-experience">
                   <ul>
                        <il>
                            <h3>2019 - On the current day, My own game project<a href="https://github.com/flame4ost/SmilaTrainBus"><i class="fa fa-fw fa-github"></i></a></h3>
                        </il>
                        <il>
                           <h3>2019 - 2020 DeanOffice</h3>
                        </il>
                        <il>
                            <h3>2022 - 2026 Google/Microsoft</h3>
                        </il>
                   </ul>
                </div>
            </div>
            <hr style="border:3px solid #f1f1f1">
            <div class="content-main-text">
                <span class="heading"><h2>Programming language</h2></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
<p>4.5 average based on 254 reviews.</p>


<div class="row">
  <div class="side">
    <div>C#</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>30</div>
  </div>
  <div class="side">
    <div>C++</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>75</div>
  </div>
  <div class="side">
    <div>JavaScript</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>25</div>
  </div>
  <div class="side">
    <div>HTML/CSS</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>70</div>
  </div>
  <div class="side">
    <div>Python</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>50</div>
  </div>
</div>
            </div>
      </div>


      <div class="footer">
        <a href="#"><i class="fa fa-fw fa-phone"></i>+380635074716</a>
        <a href="#"><i class="fa fa-google"></i>huanmastak@gmail.com</a>
      </div>
</body>
</html>